<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prgpascal.qrdatatransfer">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.CAMERA" />

    <application>
        <activity
            android:name=".activities.ServerTransferActivity"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".activities.ClientTransferActivity"
            android:theme="@style/AppTheme" />

    </application>
</manifest>
